.col {
  height: 180px;
}

.stripes {
  background:
  /*repeating-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 10px,
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px
  ),*/
  url(http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/old_map_@2X.png);
}

.lightbox {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0, 0.7);
}

.lightbox.open {
  display: block;
}

.lightbox img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 80vh;
}

.lightbox figcaption {
  color: #fff;
  text-align: center;
}

.thumbnail {
  background-color: transparent !important;
  border: none !important;
}
